.main{
    display: flex;
    gap: 100px;
    align-items: center;
}
.main__forecast{

    display: flex;
    flex-direction: column;

    min-height: 400px;
    min-width: 1140px;
    background-color: var(--bg-color);
    border-radius: 80px;
    padding: 15px 0px;
    margin-left: 50px;

}
.main__values{
    display: flex;
    flex-direction: row;
    font-family: 'SFProMedium';
    font-size: 40px;
    color: #000;
    background-color: var(--accent-color);
    align-items: center;
    border-radius: 40px;
    margin: 20px;
    padding: 0 20px;

}

.day-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'SFProMedium';
  font-size: 36px;
  color:#000;
  width: 100%;

  padding: 20px 0;
  gap: 10px
}

.main__line {
  display: inline-flex;
  align-items: baseline;
  gap: 4px;
  font-size: 36px;
  line-height: 1.2;

}

.main__description {
  font-family: 'SFPro';
  font-size: 20px;
  margin-top: 4px;
  text-align: center;
}

.main__city-name{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-light{

    display: flex;
    flex-direction: column;
    font-family: 'SFPro';
    font-size: 20px;
    
}
/* .main__times-wrapper {
    position: relative;
    max-width: 1200px;
    overflow: hidden;
    background-color: var(--bg-color);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
} */


.main__times {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 10px;
    gap: 20px;
    /* overflow-x: scroll; */
    font-family: 'SFPro';
    color: var(--bg-color);
    /* position: relative;
    z-index: 1; */
    padding: 10px;
}

/* .main__times-wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    box-shadow: 
        inset 20px 0 10px -5px rgba(0, 0, 0, 0.8),  */

.child-times{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SFPro';
    background-color: var(--accent-color);
    border-radius: 40px;
    min-width: 120px;
    width: 100%;
    text-align: center;
}

#rainfall{
    text-align: center;
    font-size: 16px;
}

.weather-icon{
    display: flex;
    justify-self: center;
}

#map{

    background-color: aliceblue;
    border-radius: 80px;
}

.ymaps3x0--top-engine-container{
    
    width: 100px;
    font-family: 'SFPro';
    font-size: 20px;
    color: #fff;
    background-color: #fff;

}

.popup-div{

    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    color: #000;
    font-size: 14px;
    min-width: 200px;
    max-width: 300px;
    position: relative;
    top: 20px;
    right: 5px;

        
}