.graph {
    max-width: 1150px;
    min-height: 600px;
    background-color: var(--bg-color);
    border-radius: 80px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 25px 50px 0 60px;
}

.buttons-div {
    display: flex;
    gap: 15px;
    justify-self: center;
    border-radius: 20px;
    background-color: #1e1f23;
    padding: 0 10px;
}

.buttons-div button {
    all: unset;
    cursor: pointer;
    color: var(--text-color);
    font-family: "SFPro";
    font-size: 16px;
    max-width: 200px;
    padding: 10px;
    height: 25px;
    border-radius: 20px;
    transition: 0.5s;
}

.buttons-div button:hover {
    background-color: #ffffff;
    color: #000000;
}

.buttons-div button:active {
    background-color: aliceblue;
    font-size: 17px;
    transition: 0.2s;
}

button.clicked {
    background-color: var(--accent-color);
    color: #000;
}

button.clicked:hover {
    background-color: var(--accent-color);
    color: #000000;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    .graph {
        display: flex;
        flex-direction: column;
        max-width: 1150px;
        min-height: 600px;
        background-color: var(--bg-color);
        border-radius: 80px;
        margin: 50px 0 0 0;
        padding-top: 25px;
        justify-items: center;
    }

    .buttons-div {
        justify-content: center;
        align-self: center;
        max-width: 60%;
        margin-right: 0;
    }
}

@media (max-width: 750px) {
    .graph {
        max-width: 370px;
        min-height: 400px;
        background-color: var(--bg-color);
        border-radius: 80px;
        margin: 50px 0;
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 0;
        align-self: center;
    }

    .buttons-div {
        justify-content: center;
        align-self: center;
        max-width: 90%;
        margin-right: 10px;
        padding: 0 30px;
    }
    .buttons-div button{
       width: 100%;
    }
    
}
