#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.select-town{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; 
  
}

.city-town{
  display: flex;
  flex-direction: column;
 
}

.city-window{
  margin-top: 200px;
}


.city-window:view-transition{
  transition: #242424 1s;
}


.times{

  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

.child-times{
  display: flex;
  background-color: #024242;
  border-radius: 15px;
  min-width: 150px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  
}

.child-times h3, p{
  background-color:  #2ca1a152;
  width: 125px;
  border-radius: 15px;
  
}
#rain{
  height: 50px ;
  align-content: center;
}


#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  pointer-events: none; /* Здесь наоборот нужно оставить */
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}