#root {
  width: 100vw;
  margin: 0 auto;

  text-align: center;
}

.select-town{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; 
  
}

.city-town{
  display: flex;
  flex-direction: column;
 
}

.city-window{
  margin-top: 125px;
}


.city-window:view-transition{
  transition: #929292 1s;
}


.times{

  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

.child-times{
  display: flex;
  background-color: #cfe2e280;
  border-radius: 15px;
  min-width: 150px;

  flex-direction: column;
  align-items: center;
  height: 500px;
  

  
}

.child-times h3, p{
  background-color:  #44270F;
  width: 125px;
  border-radius: 15px;
  height: auto;
  
}
#rain{
  height: 50px ;
  align-content: center;
}


#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  pointer-events: none; /* Здесь наоборот нужно оставить */
}

#rainfall{
  min-height: 48px;
  align-content: center;
}

#city-name{

  margin-bottom: 75px;

}