#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.select-town{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; 
  
}

.city-town{
  display: flex;
  flex-direction: column;
 
}

.city-window{
  margin-top: 200px;
}


.city-window:view-transition{
  transition: #242424 1s;
}


.times{

  gap: 50px;
  display: flex;
  flex-direction: row;


}

.child-times{
  display: flex;
  background-color: #024242;
  border-radius: 15px;
  min-width: 150px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  
}

.child-times h3, p{
  background-color:  #2ca1a152;
  width: 125px;
  border-radius: 15px;
  
}
#rain{
  height: 50px ;
  align-content: center;
}
